<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>About Gjo</h1>
        <h2>Full Stack Developer</h2>
        <p>I am a full stack developer with a passion for creating web applications. I have experience with a variety of technologies including React, Node.js, Express, and MongoDB. I am always looking to learn new things and improve my skills. I am currently working on a project that uses React, Node.js, and MongoDB to create a web application that allows users to create and share recipes.</p>
        <p>This site will be updated as I continue on with my current class at Full Sail University!</p>
    </body>
</html>
