---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Gjo's Blog";
---
<BaseLayout>
		<h1>{pageTitle}</h1>
        <h2>Post's</h2>
        <ul>
            <li><a href="/posts/post-1/">Astro.js: Elevate Your Web Development Game</a></li>
            <li><a href="/posts/post-2/">Astro.js: Learning Astro</a></li>
            <li><a href="/posts/post-3/">Astro.js: Ease of Use</a></li>
        </ul>
        <script>
            import "../scripts/menu.js";
          </script>
</BaseLayout>